body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 26pt;
}

h2 {
    font-size: 22pt;
}

h3 {
    font-size: 18pt;
}

img {
    width: 90%;
}

.svg {
    height: 16pt;
    width: 16pt;
}
  
a {
    font-size: inherit;
    color: inherit;
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1pt solid;
}

#outer-container {
    display: flex;
    justify-content: center;
}

#inner-container {
    padding-bottom: 20pt;
    width: 600pt;
    max-width: 90%;
}

#content-section {
    display: flex;
}

#left-section {
    width: 70%;
    margin-right: 15pt;
}

#right-section {
    width: 30%;
}

.spaced-between {
    display: flex;
    justify-content: space-between;
}

.spaced-evenly {
    display: flex;
    justify-content: center;
}

/* Light Mode Styling */

.light-mode {
    color: rgb(32, 32, 32);
    background-color: rgb(240, 248, 255);
}

/* Dark Mode Styling */

.dark-mode {
    color: rgb(240, 248, 255);
    background-color: rgb(32, 32, 32);
}

.dark-mode .dark-mode-button {
    -webkit-filter:invert(1);
    filter:invert(1);
}

/* Toggle Dark Mode Button */

.dark-mode-button {
    padding: 0pt;
    border: none;
    background-color: inherit;
    color: inherit;
    vertical-align: middle;
    -webkit-filter: none;
    filter: none;
}

.dark-mode-button:hover {
    cursor: pointer;
}

#ascii-pc {
    font-size: 14pt;
    display: flex;
    justify-content: center;
}

#about-container {
    display: flex;
}

@media all and (max-width:800px)
{
    #content-section {
        flex-direction: column;
        align-items: center;
    }

    #left-section {
        width: 100%;
        margin-right: 0;
        margin-bottom: 3pt;
    }
    
    #right-section {
        width: 100%;
    }

    #ascii-pc {
        font-size: 12pt;
    }

    #about-container {
        flex-direction: column;
    }
}