* {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(240, 248, 255);
    background-color: rgb(32, 32, 32);
}

img {
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}
  
a {
    text-decoration: dotted;
}

a:hover {
    color: lightgreen;
    text-decoration: underline;
} 

hr {
    border-bottom: none;
    border-top: 1pt dashed;
}

#outer-container {
    display: flex;
    justify-content: center;
}

#inner-container {
    width: 50%;
}

.spaced-between {
    display: flex;
    justify-content: space-between;
}

.letter:hover {
    color: lightgreen;
    cursor: default;
}